{% extends "base.html" %}

{% block content %}
    <a class="float-left" href="/">Home</a>
    <a class="float-right" href="/logout">Logout</a>
    <div class="clear"></div>

    <div class="header">{{ name }}</div>
    <div class="list">
        {% for item in items %}
            <div class="list-item">
                {{ item.quantity }} - {{ item.name }}
                <input
                    type="checkbox"
                    data-id="{{ item.pk }}"
                    {% if item.bought %}
                        checked="checked"
                    {% endif %}
                />
                <a class="remove-item float-right" href="#">x</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}