{% extends "base.html" %}

{% block content %}
    <a class="float-left" href="/">Home</a>
    <a class="float-right" href="/logout">Logout</a>
    <div class="clear"></div>

    <div class="header">{{ name }}</div>
    <form class="add-item float-right" method="POST" action="add_item">
        {% csrf_token %}
        <input type="hidden" value="{{ id }}" name="shopping_list" id="shopping_list" />
        <input type="number" value="1" name="quantity" id="quantity" />
        <input type="text" name="name" id="name" />
        <button type="submit">Add</button>
    </form>
    <div class="clear"></div>
    <div class="list">
        {% for item in items %}
            <div class="list-item">
                {{ item.quantity }} - {{ item.name }}
                <input
                    type="checkbox"
                    data-id="{{ item.pk }}"
                    {% if item.bought %}
                        checked="checked"
                    {% endif %}
                />
                <a class="remove-item float-right" href="#">x</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}